<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <servlet-class>view.UsernameTableViewNormal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePlayer</servlet-name>
        <servlet-class>view.CreatePlayer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlayerTable</servlet-name>
        <servlet-class>view.PlayerTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameTableViewFancy</servlet-name>
        <servlet-class>view.UsernameTableViewFancy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsernameTableViewFancyJSP</servlet-name>
        <jsp-file>/jsp/UsernameTableViewFancy.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>InputScore</servlet-name>
        <servlet-class>view.InputScore</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreTable</servlet-name>
        <servlet-class>view.ScoreTable</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserTest</servlet-name>
        <servlet-class>view.CreateUserTest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>view.About</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsernameTableViewNormal</servlet-name>
        <url-pattern>/UsernameTableViewNormal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePlayer</servlet-name>
        <url-pattern>/CreatePlayer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlayerTable</servlet-name>
        <url-pattern>/PlayerTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameTableViewFancy</servlet-name>
        <url-pattern>/UsernameTableViewFancy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsernameTableViewFancyJSP</servlet-name>
        <url-pattern>/UsernameTableViewFancyJSP</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InputScore</servlet-name>
        <url-pattern>/InputScore</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreTable</servlet-name>
        <url-pattern>/ScoreTable</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserTest</servlet-name>
        <url-pattern>/CreateUserTest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/About</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>ScoreDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <persistence-context-ref>
        <persistence-context-ref-name>persistence/em</persistence-context-ref-name>
        <persistence-unit-name>JPA-Tomcat-ScoreDB</persistence-unit-name>
    </persistence-context-ref>
</web-app>
